body {
    font-family: "Silkscreen",  bitmap;
    background-color: #073B3A;
}
.acts{ 
    background-color: rgba(255, 255, 255, 0.404);
    color: white;
    float: left;
    width: 33.33%;
    text-align: justify ;
    margin: 2%;
    padding: 3%;
    border-radius: 19px;
    box-shadow: 2px 5px 15px rgb(172, 245, 178);    
    column-gap: 40px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    
  }
.css{
    background-color: rgba(255, 255, 255, 0.404);
    color: white;
    float: left;
    width: 33.33%;
    text-align: justify ;
    margin: 2%;
    padding: 3%;
    border-radius: 19px;
    box-shadow: 2px 5px 15px rgb(172, 245, 178);    
    column-gap: 40px;
}