
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #09703c;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #00ff0d;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0e4210;
  }
  
  div {
    border-radius: 5px;
    background-color: #1f862c;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(76, 212, 128);
    
  }
.form{
    font-family: "Silkscreen";
    label{
        color: rgb(255, 255, 255);
    }
}
