
body {
    font-family: "Silkscreen",  bitmap;
    background-color: #073B3A;
}

.navegador {
    border-radius: 19px;
    padding: 10px;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #0B6E4F;
    box-shadow: 5px 5px 5px rgb(76, 212, 128);
  }
    .navegador a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navegador a:hover {
    background-color: #31CB00   ;
    color: rgb(59, 0, 47);
    box-shadow: 5px 5px 5px #8D89A6;
    border-radius: 19px;
    padding: 10px;
  }

.column {
    background-color: rgb(255, 255, 255);
    float: left;
    width: 33.33%;
    text-align: justify ;
    margin: 2%;
    padding: 3%;
    border-radius: 19px;
    box-shadow: 2px 5px 15px rgb(172, 245, 178);    
    column-gap: 40px;
    img {
        size: 20%;
        float: left;
        margin: 3%;
        border-radius: 19px;
      }
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
